p.ZEBI{
    color: red;
    background-color: black;
    font-weight: bold
}

p.Css{
    color: blue;
}

body{
    background-color: aquamarine;
}

h2.headline{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e8/Logo-TER.png') no-repeat;
    background-size: 100px;
}